{% extends 'base.html' %}

{% block content %}

<h2>My Cart</h2>

<table class="table table-bordered">

<tr>
    <th>Image</th>
    <th>Product</th>
    <th>Price</th>
    <th>Qty</th>
    <th>Total</th>
    <th>Action</th>
</tr>

{% for item in items %}

<tr>

<td>

<img
src="{{ item.product.thumbnail.url }}"
width="80">

</td>

<td>

{{ item.product.name }}

</td>

<td>

₹{{ item.product.discount_price|default:item.product.price }}

</td>

<td>

<a
href="/cart/decrease/{{item.id}}/"
class="btn btn-danger">

-

</a>

{{ item.quantity }}

<a
href="/cart/increase/{{item.id}}/"
class="btn btn-success">

+

</a>

</td>

<td>

₹{{ item.subtotal }}

</td>

<td>

<a
href="/cart/remove/{{item.id}}/"
class="btn btn-danger">

Remove

</a>

</td>

</tr>

{% endfor %}

</table>

<hr>

<h3>

Grand Total : ₹{{ total }}

</h3>

<a href="/orders/checkout/" class="btn btn-primary">
Proceed To Checkout
</a>

{% endblock %}